<% provide(:title, 'Forgot password') %>
<h2>Forgot password</h2>
<%= form_for(:password_reset, url: password_resets_path) do |f| %>
	<%= f.text_field :email, placeholder: "Email" %>
	<div class="row">
  		<div class="small-12 columns text-center">
			<%= f.submit "Submit" %>
	  	</div>
	</div>
<% end %>