/* Debug data */
.debug_dump {
  margin: 25px 50px;
  background-color: #ddd;
  padding: 20px 25px;
  font-size: 1.4em;
}

/* Alerts */
.alert {
    text-align: center;
    font-size: 1.4em;
    padding: 10px 20px;
}

.danger {
    background-color: #de3226;
    border-color: #de2d0f;
    color: #fff;
}

.info {
    background-color: #a0d3e8;
    border-color: #74bfdd;
    color: #fff;
}

.success {
    background-color: #43ac6a;
    border-color: #3a945b;
    color: #fff;
}

.alert a {
    float: right;
    vertical-align: middle;
    text-decoration: none;
    color: #333;
    padding: 0 6px 4px;
}

/* Badges */
.badge[data-badge]:after {
    background-color: rgb(96, 125, 139);
    border-radius: 50%;
    color: #fff;
    content: attr(data-badge);
    display: flex;
    flex-flow: row wrap;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 0.5em;
    font-weight: 600;
    height: 22px;
    width: 22px;
    align-content: center;
    align-items: center;
    justify-content: center;
    position: relative;
    right: -15px;
    top: -35px;
}

/* Material Icon Styles */
.material-icons {
  vertical-align: middle;
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(96, 125, 139, 0.74); }
.material-icons.md-dark.md-inactive { color: rgba(96, 125, 139, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }