/* Material Icon Styles */
.material-icons {
  vertical-align: middle;
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(96, 125, 139, 0.74); }
.material-icons.md-dark.md-inactive { color: rgba(96, 125, 139, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

h1, h2, h3, h4, h5, h6 {
	margin: 24px 0;
	text-align: center;
}

h1 { font-size: 5em; }
h2 { font-size: 3.4em; }
h3 { font-size: 3em; }
h4 { font-size: 2.4em; }
h5 { font-size: 2em; }
h6 { font-size: 1.6em; }

p {
	font-size: 1.4em;
	margin-bottom: 10px;
}

.text-left { text-align: left !important; }
.text-center { text-align: center !important; }
.text-right { text-align: right !important; }